<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>  
    </ion-buttons> 
      <ion-buttons slot="end">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">


  <ion-list class="color">
    
    <ion-item >
      <ion-label>Ingles Intermedio </ion-label> <ion-label>Pabloncita Perez </ion-label> <ion-label>70% </ion-label>
    </ion-item>
    <ion-item >
      <ion-label>AppMoviles </ion-label> <ion-label>Pabloncita Perez</ion-label> <ion-label>100% </ion-label>
    </ion-item>
    <ion-item >
      <ion-label>Arquitectura </ion-label> <ion-label>Pabloncita Perez </ion-label> <ion-label>65% </ion-label>
    </ion-item>

  </ion-list>>

</ion-content>
