<ion-header>

  <ion-toolbar color="warning">

    <ion-title> Perfil</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>
<!-- -----------<button  style="align-items: center;" (click)="tomarf()">cambiar foto</button>---------------------------------------------------- -->
<ion-content class="fondo">


  <img _ngcontent-xjc-c149="" _ngcontent-pvi-c149="" alt="Sin Foto" height="100" width="100" [src]="foto"
    style="align-items: center;margin-left: 95px;margin-top: 10px;">
  <br>
  <ion-button class="bfoto" _ngcontent-hah-c144="" _ngcontent-rfm-c144="" _ngcontent-nsj-c149=""
    style="color: orange;margin-left: 77px;margin-top: 60px;" (click)="tomarf()">Tomar foto</ion-button>


  <div>

  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-item>
            <ion-textarea placeholder="nombre: Janoski " disabled></ion-textarea>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>


    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-textarea placeholder="contraseña: ***** " disable></ion-textarea>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-row>
      <ion-col>
        <div>
          <ion-item>
            <ion-textarea placeholder="correo: pa.perez@duocuc.cl " disabled></ion-textarea>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          <ion-item>
            <ion-textarea placeholder="carrera: INGENIERIA INFORMATICA" disabled></ion-textarea>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          <ion-item>
            <ion-textarea placeholder="telefono: 95059**** " enable></ion-textarea>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>