<ion-header>
  
  <ion-toolbar color="warning">

    <ion-title> RAMOS </ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>  
    </ion-buttons> 
      <ion-buttons slot="end">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="fondo">

  <ion-card>
    <ion-list-header >
      <ion-title>Ramos</ion-title>
    </ion-list-header>   
    <ion-list >  
      <ion-item  *ngFor="let niv of ramos"><!--let niv of ramos"X CANTIDADES DE RAMOS REPITELO -->
        <ion-label  ><h4>{{niv.sigla}}</h4><p>{{niv.nombre}}</p></ion-label>
        <ion-button >
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>