<ion-header [translucent]="true">  
  <ion-toolbar color="warning">

    <ion-title style="text-align:center">INICIAR SESION</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo" style="color: orange;">
  <img src="assets\logonew.png"  alt=" ">

  
    <ion-card-subtitle class="dark" style="text-align: center;">USUARIO</ion-card-subtitle>
    <ion-card>
      <form [formGroup]="loginForm">
      <ion-item class="texto">
        <ion-label position="floating">Usuario</ion-label>
        <ion-input id="inputUsuario" type="text" formControlName="user" [(ngModel)]="user"></ion-input>
        </ion-item>
      <ion-item class="texto">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input id="inputPassword" type="password" formControlName="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      
      </form>
      
      <ion-row>
        <ion-col>
          <div>
            <ion-button (click)="submit()" _ngcontent-ehp-c144="" color="warning" ng-reflect-color="warning" tabindex="0"
            class="ion-color ion-color-warning md button button-solid ion-activatable ion-focusable hydrated" style="margin-left: 40px;" > 
            Iniciar Sesion </ion-button>
          </div>
        </ion-col>
      </ion-row>
  
      <ion-row>

      </ion-row>

      

    </ion-card>



  <ion-grid >
       <ion-row>
      <ion-col >
        <div>
          <a><p style="text-align:center ;"><a href="./../olvidecontra" style="color :rgb(255, 115, 0)"> OLVIDE MI CONTRASEÑA</a></p></a>
          <p style="text-align:center ;"><a href="./../registrar"  class="regis" style="color: rgb(255, 115, 0)"> Registrar</a></p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  

    <ion-content>