
.centrar{
    align-items: center;
    text-align: center;
}

ion-card-subtitle.color{
    color: rgba(0, 0, 0, 0.925);
}

ion-content.fondo{
    --background:rgb(255, 253, 221)!important ;
    
 }

 ion-card.cardfondo{
    --background:rgb(0, 0, 0);
    
 }

 ion-item.texto{
    --background:rgba(255, 148, 9, 0.925);
 }

 img.centro{
    align-items: center;


 }
 

 