<ion-app>
<ion-router-outlet>

    <ion-menu side="end" type="push" contentId="main" style="color: orange">
      <ion-header >
        <ion-toolbar color="black">
          <ion-title>MENÚ</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        
        <ion-menu-toggle style="color: aqua;">
          <ion-toolbar style="color: orange;">
            <ion-buttons slot="start">
              <ion-back-button defaultHref="home"></ion-back-button>
            </ion-buttons>
          </ion-toolbar>
        <ion-list style="color: rgb(87, 49, 0, 0.925)">
          <ion-item [routerLink]="'/horario'" style="color: orange" color="black">
            <ion-icon name="calendar"></ion-icon> Horario            
          </ion-item>
          <ion-item [routerLink]="'/edi-horario'"style="color: orange" color="black">
            <ion-icon name="scan-circle-outline"></ion-icon>Ramos</ion-item>
          <ion-item [routerLink]="'/asistencia'"style="color: orange" color="black">
            <ion-icon name="clipboard"></ion-icon>Asistencia</ion-item>
          <ion-item [routerLink]="'/perfil'"style="color: orange" color="black">
            <ion-icon name="happy"></ion-icon> Perfil</ion-item>

          <ion-item [routerLink]="'/scanner'"style="color: orange" color="black">
            <ion-icon name="camera"></ion-icon>Scanner            
          </ion-item>
          
          <ion-item [routerLink]="'/gen-qr'"style="color: orange" color="black">
            <ion-icon name="scan-circle-outline"></ion-icon>GenerarQr</ion-item>
        </ion-list>
      </ion-menu-toggle>

      <ion-button defaultHref="'/login'" [routerLink]="'/login'"><img src="assets\ADOS-re.png"  alt=" "></ion-button>
      
      
      </ion-content>
    </ion-menu>
    
    <ion-router-outlet id="main"></ion-router-outlet>

  </ion-router-outlet>
</ion-app>
