<ion-header>

  <ion-toolbar color="warning">

    <ion-title> Perfiles</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>




<ion-content [fullscreen]="true">
  <hr>
  
  <ion-title style="text-align:center">INICIAR SESION</ion-title>
  <H1></H1>
 <ion-card>
  <ion-button expand="block" [routerLink]="'/login2'">PROFESOR</ion-button>
  <ion-button expand="full" [routerLink]="'/login'">ALUMNO</ion-button>

</ion-card>
</ion-content>
