ion-content.fondo{
    --background:rgba(0, 0, 0, 0.271);
    --naranjoo: #dd7c03 !important;
 }

 .bton{

    background-color: #dd7c03;
    color: aliceblue;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    font-size: 20px;



 }