<!-- ESTE ES EL MENU PRINCIPAL -->
<ion-header>

  <ion-toolbar color="warning">

    <ion-title>
      <h1 id="nombreUsuario"> Bienvenido </h1>

    </ion-title>
    <ion-buttons slot="end">
    <ion-menu-button autoHide="false"></ion-menu-button>
  </ion-buttons>

  </ion-toolbar>


</ion-header>




<ion-content class="fondo">


 <ion-card>
  <img src="assets\EXPODUOC.png" />
  <ion-card-header>
    <ion-card-title>EXPO AUTOS 2022</ion-card-title>
    <ion-card-subtitle>Sabado de 09:00hrs a 13:00hrs</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    En la semana de la ingeniería los queremos dejar cordialmente invitados a la Expo Autos 2022, que se realizará en Mall Plaza Norte.
  </ion-card-content>
</ion-card>

<ion-card>
  
  <img src="assets\DIPLOMADOS.png">

  <ion-card-header>
    <ion-card-title>DUOC UC</ion-card-title>
    <ion-card-subtitle>Instituto Profesional DuocUC</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Sigue expandiendo tus conocimientos 💻  Contamos con docentes experimentados enfocados en entregar experiencias diferenciadoras. Inscríbete hoy en Duoc UC
  </ion-card-content>
</ion-card>
 
  
</ion-content>

