<!-- ESTE ES EL MENU PRINCIPAL -->
<ion-header>

  <ion-toolbar color="warning">

    <ion-title>
      <h1 id="nombreUsuario"> Bienvenid@</h1>

    </ion-title>
    <ion-buttons slot="end">
    <ion-menu-button autoHide="false"></ion-menu-button>
  </ion-buttons>

  </ion-toolbar>


</ion-header>




<ion-content class="fondo">


 <ion-card>
  <img src="/assets/NOTICIA.png" />
  <ion-card-header>
    <ion-card-title>PRACTICA HOTELERIA Y TURISMO!</ion-card-title>
    <ion-card-subtitle>Noticia 04-01-23</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    ¿Cómo cerraste tu 2022? Los chicos de primer año en Turismo y Hotelería de Duoc UC Puerto Montt lo pasaron en terreno😍
De esta forma pudieron aplicar los conocimientos adquiridos durante el año, conectarse con la naturaleza y recargar energías para el semestre que se aproxima💪🏻.
¡Recuerda! ya comenzó el proceso de Postulación 2023. 
Ingresa a admision.duoc.cl o escríbenos a nuestro Whatsapp (+56 9 3380 6839) 📲 ¡Te esperamos!
#DuocUC #Turismo #Aventura #MedioAmbiente #Chile
  </ion-card-content>
</ion-card>

<ion-card>
  
  <img src="/assets/NOTICIA2.png">

  <ion-card-header>
    <ion-card-title>CINE EN PANTALLA GRANDE!</ion-card-title>
    <ion-card-subtitle>FINANCIADO POR DUOCUC</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    👀Atención, porque llegan las vacaciones de verano y llega cine:
    • Silencio
    🗓️Jueves 5 de enero
    🕖19:00 horas.
    
    • La Misión
    🗓️Jueves 12 de enero
    🕖19:00 horas.
    
    • Wonder:
    🗓️Sábado 21 de enero
    🕖 11:00 horas
    
    • Carros de fuego:
    🗓️Jueves 26 de enero
    🕖19:00 horas
     
    ¡Te esperamos!😸
  </ion-card-content>
</ion-card>
 

<ion-card>
  
  <img src="assets\DIPLOMADOS.png">

  <ion-card-header>
    <ion-card-title>DUOC UC</ion-card-title>
    <ion-card-subtitle>Instituto Profesional DuocUC</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Sigue expandiendo tus conocimientos 💻  Contamos con docentes experimentados enfocados en entregar experiencias diferenciadoras. Inscríbete hoy en Duoc UC
  </ion-card-content>
</ion-card>
 


  
</ion-content>

